<h1>
  Welcome to <a [routerLink]="['/']"
     routerLinkActive="router-link-active"> {{ title }} ! </a>
</h1>
<h3>Calls Counter: {{ callsCounter$ | async }}</h3>
<router-outlet></router-outlet>
<a [routerLink]="['changer','detector']"
   routerLinkActive="router-link-active">
  Detector lab</a>
<a [routerLink]="['changer','family']"
   routerLinkActive="router-link-active">
  Family lab</a>
<a [routerLink]="['changer','async']"
   routerLinkActive="router-link-active">
  Async lab</a>
<a [routerLink]="['changer','subscribe']"
   routerLinkActive="router-link-active">
  Subscribe lab</a>
